<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AppPreview</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="<%=siteUrl%>/app-preview/favicon.ico">
</head>
<body>
  <app-root accessToken='<%=accessToken%>'></app-root>
<script type="text/javascript" src="<%=siteUrl%>/app-preview/runtime.js"></script><script type="text/javascript" src="<%=siteUrl%>/app-preview/polyfills.js"></script><script type="text/javascript" src="<%=siteUrl%>/app-preview/styles.js"></script><script type="text/javascript" src="<%=siteUrl%>/app-preview/scripts.js"></script><script type="text/javascript" src="<%=siteUrl%>/app-preview/vendor.js"></script><script type="text/javascript" src="<%=siteUrl%>/app-preview/main.js"></script></body>
</html>
